@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 22% 96%;
    --foreground: 219 29% 14%;

    --card: 0 0% 100%;
    --muted: 214 17% 51%;

    --primary: 235 69% 61%;
    --secondary: 0 0% 100%;

    --btn: 235 69% 61%;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 219 29% 14%;
    --muted: 212 23% 69%;

    --primary-foreground: 240 5.9% 10%;
    --btn: 0 0% 100%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-kumbh;
  }
}

.list-counter li {
  counter-increment: count 1;
  @apply before:content-[counter(count)];
}

.header-image {
  @apply absolute inset-0 object-cover w-full h-full;
}
